<head>
    <link rel="stylesheet" href="~/css/home.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>


<div class="home-background">
    <div class="container"  style="vertical-align:central;">
        <div class="row align-items-center">
            <div class="col-12 text-center">
                <h1 class="fw-light" style="color: white; font-size:150px;">ПЕРЕД ТИМ ЯК ЩОСЬ ПРИДБАТИ, ТРЕБА В СІЛЬФІ ПОШУКАТИ!</h1>
            </div>
        </div>
    </div>
</div>